In [5]:
#生成股票上市以来的交易K线图

import tushare as ts
import pandas as pd
from pyecharts import options as opts
from pyecharts.charts import Kline

In [20]:
#招商银行[600036]
#data=ts.get_hist_data("600036")

data=ts.get_hist_data('600848',start='2015-01-05',end='2022-04-03')

#data.head()

data = data.iloc[::-1]
data

本接口即将停止更新，请尽快使用Pro版接口：https://tushare.pro/document/2

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
date,,,,,,,,,,,,,,
2019-10-08,26.33,26.69,26.20,26.14,35093.94,0.00,0.00,26.200,26.200,26.200,35093.94,35093.94,35093.94,0.45
2019-10-09,26.25,26.26,25.90,25.62,40096.29,-0.30,-1.15,26.050,26.050,26.050,37595.12,37595.12,37595.12,0.51
2019-10-10,25.89,26.28,25.99,25.85,34056.87,0.09,0.35,26.030,26.030,26.030,36415.70,36415.70,36415.70,0.43
2019-10-11,26.17,26.28,26.19,25.91,40491.60,0.20,0.77,26.070,26.070,26.070,37434.68,37434.68,37434.68,0.51
2019-10-14,26.49,26.87,26.45,26.36,60885.60,0.26,0.99,26.146,26.146,26.146,42124.86,42124.86,42124.86,0.77
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-03-28,13.47,13.76,13.69,13.41,39884.32,0.08,0.59,13.580,13.279,13.661,43939.57,44702.53,40444.70,0.27
2022-03-29,13.61,13.73,13.60,13.50,29587.61,-0.09,-0.66,13.608,13.379,13.631,41518.64,40952.69,40893.13,0.20
2022-03-30,13.56,14.10,13.99,13.53,58884.75,0.39,2.87,13.684,13.508,13.612,44086.24,42047.48,42305.43,0.40
2022-03-31,13.85,14.29,14.10,13.79,78373.57,0.11,0.79,13.798,13.619,13.595,51409.75,45332.49,44026.14,0.54
2022-04-01,13.96,14.28,14.23,13.96,63218.82,0.13,0.92,13.922,13.713,13.582,53989.81,47868.38,45552.52,0.43

In [19]:
data2=ts.get_hist_data('600036', ktype='W')
data2

本接口即将停止更新，请尽快使用Pro版接口：https://tushare.pro/document/2

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
date,,,,,,,,,,,,,,
2022-04-01,44.84,47.47,47.10,44.25,2348826.75,1.92,4.25,46.320,48.726,49.662,3412233.23,3121150.15,2925554.83,1.14
2022-03-25,45.89,46.09,45.18,44.60,2508622.00,-0.99,-2.14,46.862,48.818,49.885,3340970.25,3173561.83,2931437.78,1.22
2022-03-18,43.50,46.17,46.17,39.18,6014240.50,1.72,3.87,48.238,49.205,50.325,3311475.25,3212638.03,2931548.24,2.92
2022-03-11,48.01,48.26,44.45,43.01,4161470.00,-4.25,-8.73,49.556,49.459,50.731,2692281.75,3040105.78,2755290.47,2.02
2022-03-04,49.59,50.50,48.70,48.50,2028006.88,-1.11,-2.23,50.508,50.000,51.174,2440569.55,2827254.61,2682870.08,0.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2002-05-17,9.80,9.80,9.25,9.05,602008.00,-0.56,-5.71,9.922,9.922,9.922,1508276.60,1508276.60,1508276.60,10.03
2002-05-10,9.84,10.15,9.81,9.71,406355.00,-0.03,-0.30,10.090,10.090,10.090,1734843.75,1734843.75,1734843.75,6.77
2002-04-26,10.10,10.10,9.84,9.70,493410.00,-0.30,-2.96,10.183,10.183,10.183,2177673.33,2177673.33,2177673.33,8.22
2002-04-19,10.57,10.60,10.14,9.99,778992.00,-0.43,-4.07,10.355,10.355,10.355,3019805.00,3019805.00,3019805.00,12.98
2002-04-12,10.51,10.88,10.57,10.39,5260618.00,0.00,0.00,10.570,10.570,10.570,5260618.00,5260618.00,5260618.00,87.68

In [14]:
data3=ts.get_hist_data('600848', ktype='W')
data3

本接口即将停止更新，请尽快使用Pro版接口：https://tushare.pro/document/2

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
date,,,,,,,,,,,,,,
2022-04-01,13.47,14.29,14.23,13.41,269949.06,0.62,4.55,13.872,14.282,14.463,213121.08,242589.76,238424.78,1.85
2022-03-25,13.33,13.79,13.61,13.21,208734.72,0.32,2.41,13.864,14.324,14.465,200134.58,240306.69,233396.07,1.43
2022-03-18,13.59,13.84,13.29,12.18,226622.69,-0.45,-3.27,14.038,14.476,14.520,191828.39,244191.63,231286.85,1.55
2022-03-11,14.57,14.58,13.74,13.23,205743.95,-0.75,-5.18,14.324,14.634,14.618,195151.48,260617.01,227988.11,1.41
2022-03-04,14.20,14.64,14.49,14.02,154555.00,0.30,2.11,14.466,14.741,14.700,229160.09,272842.01,227372.90,1.06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1994-04-22,10.91,11.23,9.68,8.42,97481.00,-1.22,-11.19,12.466,12.466,12.466,168624.60,168624.60,168624.60,55.39
1994-04-15,12.20,12.60,10.90,9.81,61348.00,-1.25,-10.29,13.163,13.163,13.163,186410.50,186410.50,186410.50,34.86
1994-04-08,14.58,14.60,12.15,12.11,33060.00,-2.05,-14.44,13.917,13.917,13.917,228098.00,228098.00,228098.00,18.78
1994-04-01,14.99,16.75,14.20,13.78,191242.00,-1.20,-7.79,14.800,14.800,14.800,325617.00,325617.00,325617.00,108.66
1994-03-25,20.50,22.48,15.40,14.61,459992.00,0.00,0.00,15.400,15.400,15.400,459992.00,459992.00,459992.00,261.36

In [16]:
data3=ts.get_hist_data('600036', ktype='M')
data3

本接口即将停止更新，请尽快使用Pro版接口：https://tushare.pro/document/2

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
date,,,,,,,,,,,,,,
2022-04-01,46.49,47.47,47.10,46.28,476139.44,0.30,0.64,48.324,49.099,48.667,10118454.09,11206705.74,12049979.97,0.23
2022-03-31,50.00,50.50,46.80,39.18,16249737.00,-3.00,-6.02,48.802,49.808,48.196,12100288.80,12177362.40,13048523.40,7.88
2022-02-28,50.30,53.00,49.80,49.31,7607222.00,0.59,1.20,50.236,50.947,47.596,10522047.80,11434631.00,13674234.85,3.69
2022-01-28,48.71,52.00,49.21,47.51,12650731.00,0.50,1.03,50.366,51.237,46.792,11740178.60,11652327.40,13784819.65,6.13
2021-12-31,49.48,54.20,48.71,47.61,13608441.00,-0.78,-1.58,50.316,51.426,46.023,12011245.60,12153134.30,13494193.43,6.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2002-08-30,10.69,11.05,10.81,10.24,3112360.00,0.11,1.03,10.356,10.356,10.356,4831220.60,4831220.60,4831220.60,39.52
2002-07-31,11.70,11.92,10.70,10.50,6793651.00,-0.85,-7.36,10.243,10.243,10.243,5260935.75,5260935.75,5260935.75,103.93
2002-06-28,8.70,11.55,11.55,8.54,5855382.00,2.85,32.76,10.090,10.090,10.090,4750030.67,4750030.67,4750030.67,97.59
2002-05-31,10.00,10.08,8.70,8.52,1588705.00,-1.32,-13.17,9.360,9.360,9.360,4197355.00,4197355.00,4197355.00,26.48
2002-04-30,10.51,10.88,10.02,9.70,6806005.00,0.00,0.00,10.020,10.020,10.020,6806005.00,6806005.00,6806005.00,113.43